.theme_button_1 {
  width: -webkit-fill-available;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  padding: 20px 0;
  background-image: linear-gradient(
    to right,
    #d31056 0,
    #192267 51%,
    #d31056 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
  text-decoration: none !important;
}
.theme_button_1_focus {
  width: 80%;
  margin-left: 10%;
  width: -webkit-fill-available;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  padding: 20px 0;
  background-image: linear-gradient(
    to right,
    #d31056 0,
    #192267 51%,
    #d31056 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
}
.theme_button_1_focus:focus {
  border: #9acd32 1px solid;
}
.theme_button_1_disabled {
  width: -webkit-fill-available;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  padding: 20px 0;
  background-image: linear-gradient(
    to right,
    #d31056 0,
    #192267 51%,
    #d31056 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.theme_button_1:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.theme_button_1_focus:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.theme_button_2 {
  width: -webkit-fill-available;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  padding: 20px 0;
  background-image: linear-gradient(
    to right,
    #e09a43 0,
    #192267 51%,
    #e09a43 100%
  );
  text-align: center !important;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
}
.theme_button_2_disabled {
  width: -webkit-fill-available;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  padding: 20px 0;
  background-image: linear-gradient(
    to right,
    #e09a43 0,
    #192267 51%,
    #e09a43 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
  width: 80%;
  margin-left: 10%;
  opacity: 0.5;
  cursor: none;
}
.theme_button_2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.theme_button_1_left {
  width: -webkit-fill-available;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  padding: 20px 0;
  background-image: linear-gradient(
    to left,
    #192267 0,
    #d31056 51%,
    #192267 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
}
.theme_button_1_left:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.theme_button_2_left {
  width: -webkit-fill-available;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  padding: 20px 0;
  background-image: linear-gradient(
    to left,
    #192267 0,
    #e09a43 51%,
    #192267 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
}
.theme_button_2_left:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.welcome {
  margin-left: 15%;
  letter-spacing: 10px;
}
.welcome-1 {
  font-size: 2.5vw;
  color: #d31056;
  margin-top: 10%;
}
.welcome-2 {
  font-size: 3.5vw;
  color: #fff;
  font-weight: 900;
}
.welcome-3 {
  font-size: 3.5vw;
  color: #e9992d;
  font-weight: bold;
}
.welcome_reveal {
  animation: MoveUpDown 2s linear infinite;
  position: relative;
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}
.network_reveal {
  animation: MoveRightLeft 2s linear infinite;
  position: relative;
}
@keyframes MoveRightLeft {
  0%,
  100% {
    right: 0;
  }
  50% {
    right: 30px;
  }
}
.welcome_image {
  width: 340px;
  margin-left: 15%;
}
.service_image {
  width: 400px;
  margin-left: 15%;
  margin-top: 20%;
}
.network_image {
  width: 450px;
  margin-left: 15%;
  margin-top: 20%;
}
.partnership {
  text-align: center;
  font-size: 2vw;
  font-family: sans-serif;
  color: #fff;
  background-image: url("./assets/img/partner_background.png");
  background-size: 100% 100%;
  padding: 20px 30px;
}
.partner_text {
  margin-top: 6%;
}
.partner_1 {
  width: 140px;
  height: 80px;
  padding: 20px;
}
.partner_2 {
  width: 140px;
  height: 80px;
  padding: 20px;
}

.connect_button {
  font-size: 3vw;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #333;
  margin-top: 30px;
  padding: 15px;
  width: auto;
  color: #fff;
  cursor: pointer;
}

.service-title-1 {
  font-size: 3vw;
  color: #fff;
  margin-top: 5%;
  font-weight: bold;
}
.service-title-2 {
  font-size: 3vw;
  color: #d31056;
}
.network-title-1 {
  font-size: 3vw;
  color: #fff;
  margin-top: 10%;
  font-weight: bold;
}
.network-title-2 {
  font-size: 3vw;
  color: #d31056;
}
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 0 2.5px 1px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
  }
  85% {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.services {
  margin-top: 5%;
}
.theme_button_1 {
  width: 80%;
  margin-left: 10%;
}
.theme_button_2 {
  width: 80%;
  margin-left: 10%;
}
.network {
  width: 100%;
}
.network-title {
  font-size: 3vw;
  padding: 20px;
  color: #ddd;
  text-align: center;
  margin-top: 5%;
  width: 80%;
  margin-left: 7.5%;
}
.network_button {
  background-color: transparent;
  border: 2px #0ff solid;
  border-radius: 30px;
  color: #0ff;
  font-size: 20px;
  padding: 10px 0;
  margin-top: 10%;
  cursor: pointer;
  width: 98%;
  margin-left: 5%;
}
.networks {
  vertical-align: 10px;
}
.footer {
  margin-top: 20px;
  border-top: 1px solid grey;
  padding: 15px;
  color: #fff;
}

.next_button {
  width: 30%;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: transparent;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  font-family: Brush Script MT;
  font-size: 40px;
  font-weight: 100;
  -webkit-box-shadow: inset 1px 1px 20px 0 #fff;
  -moz-box-shadow: inset 1px 1px 20px 0 #fff;
  box-shadow: inset 1px 1px 20px 0 #fff;
  text-shadow: 1px 1px 20px #000;
  border: solid #337fed 1px;
  text-decoration: none;
  cursor: pointer;
}
.next_button:hover {
  border: solid #337fed 1px;
  background: transparent;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.next_button_disabled {
  cursor: pointer;
  opacity: 0.3;
  cursor: default;
}
.next {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
.partner_border {
  border: 0.75pt solid #333;
  background-color: #222127;
  margin-top: 30px;
}
.select_date_title {
  color: #fff;
  font-size: 39px;
  text-align: center;
  font-weight: bold;
}
.select_service_title {
  margin-top: 50px;
  color: #fff;
  font-size: 39px;
  text-align: center;
  font-weight: bold;
}
.underline {
  padding: 1.5px;
  margin-top: 5px;
  background-image: linear-gradient(to right, #d31056 0, #192267 95%);
  width: 120px;
  justify-content: center;
  border-radius: 10px;
}
.faq_text {
  color: #fff;
  font-size: 25px;
  margin-left: 15px;
  font-weight: bold;
  text-decoration: none !important;
}
.select_date_calendar {
  margin-top: 20px;
  background-color: rgba(27, 30, 202, 0.3);
  padding: 15px;
  border-radius: 15px;
}
.time_slot {
  padding: 20px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin-top: 30px;
}
.time_slot_title_date {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.faq_contents {
  background-color: rgba(27, 30, 202, 0.3);
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 100px;
  margin-top: 50px;
}
.faq_topic {
  color: #de145d;
  font-size: 21px;
  font-weight: bold;
  margin-top: 30px;
}
.faq_main {
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  border-bottom: 0.1pt solid #6b6969;
  padding-bottom: 35px;
}
.bid_section {
  background-color: rgba(27, 30, 202, 0.3);
  border-radius: 10px;
  padding: 50px;
  margin-top: 50px;
}
.topic_image {
  border-radius: 10px;
  width: 100%;
}
.bid_details_title {
  font-size: 20px;
}
.bid_details_props {
  font-size: 18px;
  font-weight: bold;
}
.service_description {
  font-size: 15px;
  color: #fff;
  padding: 20px 50px 0 50px;
}
.bid_value_title {
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  padding: 30px 0;
}
.bid_value_input {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  font-size: 27px;
  color: #fff;
  font-weight: bold;
}
.connect_wallet_button {
  color: #e40a58;
  border-radius: 10px;
  cursor: pointer;
  margin-top: -70px;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  padding: 20px;
  border: 1px solid #e40a58;
  text-align: center;
  box-shadow: 1px 1px 10px 5px #131c5a, inset 1px 1px 20px 5px #131c5a;
  width: 25%;
  float: right;
}
.modal_style {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 30%;
  border-radius: 10px;
  background-color: rgba(27, 30, 202, 1)!important;
}
.ReactModalPortal{
  position: relative!important;
  z-index: 100!important;
}
.overlay_background {
  inset: 50px!important;
  background-color: transparent!important;
}
.ReactModal__Overlay{
  background-color: rgba(255, 255, 255, 0.2)!important;
}
.router-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.admin_padding {
  padding: 50px;
}
.admin_left_bar {
  border-radius: 10px;
  width: 200px;
  background-color: rgba(27, 30, 202, 0.3);
  padding: 50px;
  /* z-index: 1000; */
  position: absolute;
}
.Admin_logo {
  width: 200px;
  height: 100px;
  margin-bottom: 50px;
}
.Admin_Links {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.log_out {
  color: rgba(255,255,255,0.25)!important;
  font-size: 22px;
  text-align: center;
  margin-top: 30vh;
}
.Burger {
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  font-size: 40px;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}
.Burger:active {
  transform: scale(1.2);
}
.Nav {
  grid-area: nav;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-items: center;
}
.NavAnimation-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}
.NavAnimation-exit-active {
  opacity: 0;
  transition: opacity 350ms, transform 350ms;
}
.total_counter_card {
  width: 70%;
  padding: 30px 50px;
  border-radius: 12px;
  color: #fff;
  margin-top: 50px;
}
.total_counter_card_title {
  font-size: 21px;
}
.total_counter_card_amount {
  font-size: 27px;
  font-weight: bold;
}
/* .total_counter_card_icon {width:40px;} */
.total_bid {
  background-color: rgba(70, 72, 243, 0.5);
}
.total_winner {
  background-color: rgba(241, 15, 204, 0.5);
}
.total_amount {
  background-color: rgb(45 201 111 / 50%);
}
.total_account {
  background-color: rgba(255, 255, 0, 0.5);
}
.admin_calendar {
  margin-top: 60px;
  background-color: rgba(27, 30, 202, 0.3);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin-left: 20%;
}
table {
  width: 100%;
  color: #fff;
  overflow: scroll;
  /* position: relative; */
}
.css-serial {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}
.css-serial td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
}
#Bid-record {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding-bottom: 100px;
  /* word-break: break-all; */
}
#Bid-record td {
  padding: 10px;
  text-align: center;
  min-width: 150px;
}
#Bid-record th {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 150px;
}
#Bid-record tr {
  color: #fff;
  padding: 10px;
}

#Bid-record tbody tr:nth-child(even){
  background-color: rgba(255, 255, 255, 0.05);
}
#Bid-record thead {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #2039e0;
  color: #fff;
  position: sticky;
  top: 0;
}
#Bid-record tbody{
margin-top: 50px;
}
#Admin-account td {
  padding: 10px;
  text-align: center;
  min-width: 250px;
}
#Admin-account th {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 250px;
}
#Admin-account thead {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #2039e0;
    color: #fff;
}
#Admin-account tbody tr:nth-child(even){
  background-color: rgba(255, 255, 255, 0.05);
}

/* scrollbar*/
.container-out::-webkit-scrollbar {
  background: grey;
  border: 3px solid #09080d;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  /* scrollbar-width: thin; */
}

.container-out::-webkit-scrollbar-thumb {
  background-color: white;
  border: 3px solid white;
  border-radius: 5px;
}

.container-out::-webkit-scrollbar-track {
  margin: 10px;

}

.input_amount_style {
  width: 50%;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.token_dropdown {
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  justify-content: center;
}
.token_dropdown-token {
  color: #fff;
  font-size: 25px;
}
.token_dropdown-container {
  z-index: 20;
  position: absolute;
  width: 15%;
  margin-top: 5px;
  margin-left: 10%;
  border: radius 20px !important;
}
.token_dropdown-item {
  width: 100%;
  height: 50px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  text-align: left;
  background: rgba(27, 30, 202, 0.3);
}
.input_text_style {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #fff;
}
.phone_style {
  width: 80%;
  background-color: transparent;
  border: none;
}
.login_icon {
  border: solid 3px #fff;
  border-radius: 50%;
  padding: 3px;
}
.add_service_button {
  color: #e40a58;
  border-radius: 10px;
  cursor: pointer;
  margin-top: -30px;
  margin-right: 7vw;
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #e40a58;
  text-align: center;
  box-shadow: 1px 1px 10px 5px #131c5a, inset 1px 1px 20px 5px #131c5a;
  width: 20%;
  float: right;
}
.edit_service_pad {
  color: #fff!important;
  padding: 30px;
  font-size: 20px;
  overflow: auto;
  height: 600px;
}
.eidt_service_modal_style{
  width: 50%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 10px;
  background-color: rgb(7 17 54)!important;
}
.saveButtonStyle{
  background-color: #2039e0;
  color: #fff;
  margin-right: 30px;
  padding: 6px 16px;
  font-size: 0.875rem;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
}
.saveButtonStyle:disabled{
cursor: not-allowed;
background-color: #233492;
}
.cancelButton{
  background-color: transparent;
  color: #2039e0;
  margin-left: 10px;
  padding: 6px 16px;
  font-size: 0.875rem;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    border:#2039e0 1px solid;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
}


/*customize MUI input field*/
.MuiInputBase-root{
  color: #fff!important;
}
.MuiFormLabel-root{
  color: rgb(172, 161, 161)!important;
}
.MuiFormHelperText-root{
  color: rgb(235, 221, 31)!important;
}
.MuiOutlinedInput-root{
  background-color: rgba(255, 255, 255, 0.05)!important;
  
}
.MuiFormControl-root{
  margin-top: 25px!important;
}
.rmdp-input{
  height: 30px!important;
  width: 210px!important;
  padding: 10px!important;
  background-color: rgba(255, 255, 255, 0.05)!important;
  color: #fff!important;
  border: none!important;
  outline: none!important;
  cursor: pointer!important;
}
.uploadTopicImageButton{
  color: rgb(172, 161, 161);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: rgba(214, 205, 205, 0.2) solid 1px;
  font-size: small;
}


/*available date customization*/
.availableDate{
  border:#d31056 solid 2px !important;
  border-radius: 50%;
}
.react-calendar__tile:disabled{
  background-color: transparent!important;
  color: #757575!important;
}
.react-calendar__navigation button[disabled]{
  background-color: transparent!important;
}

/*date panel */
.rmdp-wrapper{
  background-color: rgba(27, 30, 202, 0.85)!important;
}
.rmdp-day, .rmdp-week-day{
  color: #fff!important;
}
.rmdp-day.rmdp-selected span:not(.highlight){
  background-color: rgb(199, 12, 96)!important;
}
.rmdp-panel-body li, .rmdp-panel-body li.bg-blue{
  background-color: rgba(27, 30, 202, 1)!important;
}
.rmdp-day.rmdp-today span{
  background-color: rgba(27, 30, 202, 1)!important;
}
.rmdp-arrow{
  border: solid rgb(199, 12, 96)!important;
  border-width: 0 2px 2px 0!important;
}
.rmdp-header-values{
  color: rgb(199, 12, 96)!important;
}
.rmdp-panel-header{
  color: rgb(199, 12, 96)!important;
}
.rmdp-month-picker, .rmdp-year-picker{
  background-color: rgba(27, 30, 202, 1)!important;
}
/********ended*********/

/*marquee*/
.marquee{
  width: 100%;
    line-height: 10px;
    background-color: rgba(27, 30, 202, 0.3);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
/*ended*/

.selected_button_border {
  border: #9acd32 1px solid;
}
.word_break {
  word-break: break-all;
}

@media (max-width: 1024px) {
  .theme_button_1 {
    margin-left: 5%;
    width: 90%;
  }
  .theme_button_2 {
    margin-left: 5%;
    width: 90%;
  }
  .bid_details_title {
    font-size: 15px;
  }
  .bid_details_props {
    font-size: 15px;
    font-weight: bold;
  }
  /* .Nav {grid-template-rows:repeat(4, auto); grid-template-columns:none; grid-row-gap:20px; background:rgba(40, 44, 47, 0.95); box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2); border-bottom-left-radius:10px; border-bottom-right-radius:10px; margin-top:-170px;} */

  .modal_style {
    width: 50%;
  }
  .eidt_service_modal_style{
    width: 60%;
  }
  .Nav {
    position: absolute;
  }
  .service-title-1 {
    font-size: 50px;
  }
  .service-title-2 {
    font-size: 35px;
  }
}
@media (min-width: 1440px) {
  .topic_image {
    width: 60%;
  }
}
@media (max-width: 1440px) {
  .welcome-1 {
    font-size: 30px;
    margin-top: 25%;
  }
  .welcome-2 {
    font-size: 50px;
  }
  .welcome-3 {
    font-size: 50px;
  }
  .service-title-1 {
    margin-top: 10%;
  }
}
@media (max-width: 960px) {
  .welcome-1 {
    margin-top: 5%;
  }
  .admin_calendar{
    width: 90%;
    margin-left: 0;
  }
  .service-title-1 {
    text-align: center;
  }
  .service-title-2 {
    text-align: center;
  }
  .service_image {
    margin-left: 25%;
  }
  .network-title-1 {
    text-align: center;
    font-size: 50px;
  }
  .network-title-2 {
    text-align: center;
    font-size: 40px;
  }
}
.marginRight {
  margin-right: 10%;
}
@media (max-width: 768px) {
  .partner_1 {
    width: 140px;
    height: 80px;
    margin-top: 30px;
  }
  .partner_2 {
    width: 140px;
    height: 80px;
    margin-top: 30px;
  }
  .partnership {
    font-size: 20px;
    padding: 5px;
  }
  .service {
    width: 100%;
    margin-left: 0;
  }
  .service_image {
    margin-left: 0;
    width: 350px;
  }
  .network_image {
    margin-left: 0;
    width: 320px;
  }
  .network {
    width: 100%;
  }
  .network-title {
    font-size: 30px;
    width: 90%;
    margin-left: 0;
  }
  .service-title-1 {
    font-size: 40px;
    text-align: center;
  }
  .service-title-2 {
    font-size: 30px;
    text-align: center;
  }
  .join_button {
    width: 125px;
    height: 50px;
    margin-top: 20px;
  }
  .welcome {
    margin-left: 0;
  }
  .welcome_image {
    width: 250px;
    margin-top: 50px;
    margin-left: 30px;
  }
  .time_slot_title_date {
    font-size: 20px !important;
    margin-bottom: 10px;
  }
  .theme_button_1 {
    font-size: 15px;
  }
  .theme_button_1_left {
    font-size: 15px;
  }
  .theme_button_2 {
    font-size: 15px;
  }
  .theme_button_2_left {
    font-size: 15px;
  }
  .time_slot {
    padding-bottom: 20px;
  }
  .select_date_calendar {
    padding: 0;
  }
  .faq_contents {
    padding: 10px;
  }
  .bid_section {
    padding: 10px;
  }
  .service_description {
    padding: 10px;
  }
  .bid_value_title {
    padding: 30px 0 0 0;
  }
  .connect_wallet_button {
    padding: 0;
    font-size: 15px;
    margin-top: -80px;
    word-break: break-all;
  }
  .modal_style {
    width: 90%;
  }
  .eidt_service_modal_style{
    width: 90%;
  }
  .log_out {
    margin-top: 8vh;
  }
  .total_counter_card {
    width: 90%;
    margin-left: -10%;
  }
  .token_dropdown-container {
    width: 30%;
  }
 .next_button{width: 80%;}
 .add_service_button{
   width:70%;
   margin-top: 0;
   margin-bottom: 10px;
 }
}
@media (max-width: 1280px) {
  .Burger {
    display: inline;
  }
  .admin_left_bar{
    background-color: #081462;
  }
}
